/*============    ШРИФТЫ    ===========*/
/*============    ГЛАВНЫЙ ЭКРАН    ===========*/
html {
  font-size: 10px;
}
/*============    HEADER    ===========*/
.header {
  float: left;
}
header {
  background: url(../img/bg.png) no-repeat center center;
  height: 75rem;
  background-color: silver;
}
header .header-top_text {
  text-transform: uppercase;
  margin-left: 20%;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #4d4d4d;
  margin-top: 22rem;
}
header .header_h1 {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 64px;
  color: #4d4d4d;
  margin: 0;
}
header .middle-block .header-middle_text {
  margin-top: 1rem;
  color: white;
  padding: 1rem;
  border-radius: 8px;
  background-color: #333333;
}
header .middle-block .header-middle_text .usualy {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 17px;
}
header .middle-block .header-middle_text .header_green {
  color: #00a99d;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 17px;
}
header .middle-block .header-middle_text .header_uppercase {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 18px;
}
header .header-bottom_text {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
header .header-bottom_text .img-line {
  vertical-align: super;
  display: inline-block;
}
header .header-bottom_text .img-arrow-l {
  vertical-align: super;
  display: inline-block;
  margin-left: 1rem;
}
header .header-bottom_text .img-arrow-r {
  vertical-align: super;
  display: inline-block;
  margin-right: 1rem;
}
header .header-bottom_text p {
  color: #4d4d4d;
  font-size: 26px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  display: inline-block;
}
header .header-bottom_text p .green-2 {
  color: #00a99d;
}
header .img-header {
  text-align: center;
}
/*============    NAV    ===========*/
#nav {
  border-bottom: 1.5px solid #dedede;
  height: 10rem;
}
#nav .logotype {
  height: 10rem;
  line-height: 10rem;
}
#nav .nav-ul {
  height: 10rem;
  line-height: 10rem;
  display: inline-block;
  padding: 0;
  margin-left: 8rem;
}
#nav .nav-ul .nav-li {
  text-transform: uppercase;
  display: inline;
}
#nav .nav-ul .nav-li a {
  padding: 1.5rem;
  border-radius: 0.5rem;
  font-size: 13px;
  color: #606060;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
}
#nav .nav-ul .nav-li a:hover {
  transition: all 0.2s;
  text-decoration: none;
  color: white;
  background-color: #00a99d;
}
#nav .search {
  height: 10rem;
  line-height: 10rem;
  float: right;
  display: inline-block;
}
/*============    WHAT    ===========*/
#what {
  height: 55rem;
}
#what .what-top-block {
  margin-top: 8rem;
  margin-bottom: 5rem;
}
#what .what-top-block .what-line {
  vertical-align: super;
  display: inline-block;
}
#what .what-top-block .img-arrow-l {
  vertical-align: super;
  display: inline-block;
}
#what .what-top-block .img-arrow-r {
  vertical-align: super;
  display: inline-block;
}
#what .what-top-block p {
  margin: 0 1rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 26px;
  display: inline-block;
  text-transform: uppercase;
}
#what .what-top-block p .what-green {
  color: #00a99d;
}
#what .what-top-block .what-span {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-top: 1rem;
  color: #919191;
  display: block;
}
#what .card {
  padding-top: 2rem;
  height: 30rem;
  width: 37rem;
}
#what .card:hover {
  transition: all 0.2s;
  box-shadow: 0px 0px 30px 1px silver;
}
#what .card:hover .card-img {
  background-color: #00a99d;
}
#what .card:hover a {
  text-decoration: none;
  background-color: #00a99d;
  color: white;
}
#what .card .card-img {
  background-color: #383838;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  margin: 0 auto;
}
#what .card .card-img img {
  margin-top: 50%;
  transform: translateY(-50%);
}
#what .card h4 {
  margin: 0;
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  color: #606060;
  text-transform: uppercase;
}
#what .card p {
  font-size: 13px;
  line-height: 2.5rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  margin-bottom: 2.5rem;
  color: #7a7a7a;
}
#what .card a {
  color: #7a7a7a;
  padding: 1rem 1.2rem;
  border-radius: 0.5rem;
  border: 1px solid #dedede;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 10px;
}
/*============    FEATURES    ===========*/
#features {
  height: 62rem;
  background-color: #383838;
}
#features .wrapper {
  margin-top: 8rem;
}
#features .img-arrow-l {
  display: inline-block;
  vertical-align: super;
}
#features .img-arrow-r {
  display: inline-block;
  vertical-align: super;
}
#features .features-text-1 {
  display: inline-block;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 26px;
  margin: 0;
  margin: 7.5rem 2rem 0rem 2rem;
}
#features .features-text-1 .features-green {
  color: #00a99d;
}
#features .features-text-2 {
  color: #606060;
  font-size: 16px;
}
#features .descript {
  display: block;
}
#features .descript .descript-img {
  vertical-align: middle;
  display: inline-block;
  margin-right: 3rem;
  height: 10rem;
  width: 4rem;
}
#features .descript .descript-text {
  position: relative;
  display: inline-block;
  height: 10rem;
}
#features .descript .descript-text h3 {
  text-transform: uppercase;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 14px;
}
#features .descript .descript-text p {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #717171;
}
#features .features-img {
  float: right;
  margin-top: 2rem;
}
#features .key {
  position: absolute;
  height: 6rem;
  width: 6rem;
  margin-left: 50%;
  transform: translateX(-140%);
  margin-top: -2.7rem;
}
/*============    MORE    ===========*/
#moreFeatures {
  height: 48rem;
}
.card-more {
  margin-bottom: 5rem;
  height: 15rem;
}
.card-more h3 {
  font-size: 14pt;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  color: #606060;
  margin: 0;
  margin-bottom: 1rem;
}
.card-more span {
  color: #bfbfbf;
  font-size: 12pt;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}
.card-more p {
  margin-top: 1.5rem;
  color: #7a7a7a;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}
.card-more:hover {
  transition: all 0.5s;
  border-bottom: 1px solid silver;
}
.card-more:hover .more-bg-1 {
  position: relative;
  z-index: 1;
  margin-top: 3rem;
}
.card-more:hover .more-bg-2 {
  position: relative;
  z-index: 2;
  margin-top: -0.7rem;
}
.more-descript {
  display: inline-block;
}
.more-img {
  margin-right: 1rem;
  vertical-align: top;
  display: inline-block;
}
.more-bg-1 {
  position: relative;
  z-index: 2;
}
.more-bg-2 {
  position: relative;
  z-index: 1;
  margin-top: 3rem;
  margin-left: -4rem;
}
.more-icon-1 {
  position: relative;
  z-index: 3;
  margin-left: -3.1rem;
}
/*============    WORKS    ===========*/
/*======
======    ШРИФТЫ    ===========*/
/*============    ШРИФТЫ    ===========*/
/*============    ШРИФТЫ    ===========*/
/*============    ПОДВАЛ    ===========*/
/*============    	ВСПЛЫВАЮЩИЕ ОКНА    ===========*/
/*============    	АДАПТИВ    ===========*/
