body {
  height: 100vh;
  background: url(../img/pyatna_kraska_fon_tekstura_117299_1280x1024.jpg) no-repeat center center;
}
h1 {
  color: white;
  text-align: center;
  padding-top: 400px;
}
.bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
.reg {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
