a{
	text-decoration: none;
}
body{
	margin:0;
}
header {
    border: 1px solid #f0f2f7;
    padding-top: 15px;
    padding-bottom: 15px;
}
.container {
    margin: 0 auto;
    width: 1177px;
}
.logo{
    display: inline-block;
}
.logo__img{
	vertical-align:middle;
   
}
.menu{
	display: inline-block;
}
.menu{
	margin-left: 70px;
}
.menu__link_li{
	display: inline-block;
	margin-left: 0px;
	vertical-align:middle;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}
.menu__link_li a{
	display: inline-block;
	margin-left: 30px;
	vertical-align:middle;
	color:#343e5c;
}
.basket__cart{
	display: inline-block;
	margin-left: 130px;
}
.basket__cart__img{
	margin-right: 7px;
	vertical-align: middle;
}
.basket__cart__a{
	font-weight: 500;
	color:#343e5c;
	font-family: 'Montserrat', sans-serif;
}
.basket__cart__item{
	font-weight: 900;
	background-color: #e3e8f0;
    border-radius: 90px;
    padding: 6px 9px 8px 9px;
    font-size: 11px;
    margin-left: 7px;
}
.login{
	display: inline-block;
	margin-left: 20px;
	font-weight: 500;
}
.login__button{
	color: #343e5c;
	border: 2px solid #e3e8f0;
    border-radius: 21px;
    padding: 8px 25px;
    font-size: 14px;
    text-transform: uppercase;
}
.login__button a{
	text-decoration: none;
    color: #343e5c;
    font-family: 'Montserrat', sans-serif;
}
.nav{
	display:inline-block;
}
.nav__link{
	padding: 0;
}
.nav_link__li{
	font-family: 'Montserrat', sans-serif;
	display:inline-block;
	margin-right: 20px;

}
.nav_link__li__last{
	margin-left: 220px;
}
.nav_link__li a{
	color:#b9bed1;
	text-transform: uppercase;
}
.nav_link__middle a{
	color:#343e5c;
}
.search{
	display:inline-block;
	color:#b9bed1;
	
}
.search__img{
	vertical-align:middle;
	height: 17px;
	width: 17px;
}
.search__input{
	font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    border: none;
}
.search__form{
	display:inline-block;
	border-left: 1px solid #f0f2f7;
	padding-top: 25px;
	padding-bottom:20px;
	padding-right: 25px;
	padding-left: 25px;
	border-right: 1px solid #f0f2f7;
}
.main{
	background-image: url(../img/main/bg2.jpg);
	color:white;
	height: 500px;
	margin-top: -30px;
}
.content h1{
	font-size: 42px;
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 900;
    padding-top:100px;
    padding-left: 120px;
}
.content p{
	font-family: 'Crimson Text', serif;
    color: #fff;
    font-size: 16px;
    margin-bottom: 77px;
    margin-top: 52px;
    font-family: 'Crimson Text', serif;
    margin-top: 40px;
    margin-left: 120px;
}
.content__button{
	margin-top: 4px;
	margin-left: 120px;
	display:inline-block;
	background-color: #2754eb;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    border-radius: 21px;
    padding: 10px 41px;
    font-size: 14px;
    text-transform: uppercase;
}
.content__button a{
	color:white;
	 font-family: 'Montserrat', sans-serif;
}